body { 
	padding: 0px; 
	margin: 0px; 
	font: 80% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}

a {
	color:#262;
}
#header { 
	border-bottom: 1px solid #ACA; 
	padding: 20px; 
	background-color: #CFC; 
	margin: 0px; 
	margin-bottom: 10px; 
}



#flash-notice { 
	padding: 10px; 
	border: 1px solid #999; 
	margin-bottom: 15px; 
}

#flash-error { 
	padding: 10px; 
	border: 1px solid #999; 
	margin-bottom: 15px; 
}

#content { 
	padding: 10px;
}


#leaderboard {
	float:left;
	margin:0 20px;
}
.heros-list {
	margin: 10px; 
	padding: 5px; 
	border: 1px solid #ACA;
	width:400px;
}
.heros-list ul {
	list-style:none;
	margin-left:0px;
	padding-left:10px;
}
.heros-list span.user-name {
	color:#8B8;
}

#login-area { 
	float:left;
}
#login-area #signup {
	background-color: #CFC; 
	border: 1px solid #ACA;
	padding:10px 20px;
}

h1 {
	font-size: 120%;
}

#games-list td { 
	padding: 4px; 
}

#shopping td { 
	padding: 5px; 
	border: 1px solid #999; 
}

.small {
	font-size: 80%;
}

.de-emp {
	color: #888;
}

.rolldata, .smallde-emp { 
	font-size: 80%; 
	color: #888;
}

.price { 
	font-size: 200%;
}

.levelup, .bigbold { 
	font-size: 120%; 
	font-weight: bold; 
}

.goodnews { 
	font-size: 140%; 
	font-weight: bold; 
	color: #393; 
}

.badnews { 
	font-size: 140%; 
	font-weight: bold; 
	color: #933; 
}

.rollX {
	font-size: 80%;
	color: #933; 
}
.roll- {
	font-size: 80%; 
	color: #666; 
}
.rollO {
	font-size: 80%; 
	color: #393; 
}

#heros { 
	margin: 10px; 
	padding: 5px; 
	border: 1px solid #999; 
	width: 470px;
}

.hero {
	float: left; 
	width:210px; 
	border: 1px solid #999; 
	margin: 5px; 
	padding: 5px; 
	font-size:80%;
}